*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "IBM Plex Sans", sans-serif;
}

.princi{
    background-color: rgb(133, 131, 131);
    height: 38rem;
}

.navbar{
    min-height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.navmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    z-index: 2;
    margin-right: 10%;
}

.logotop{
    margin-left: 10%;
}

.logotop img{
    width: 10rem;
    height: 4rem;
}

.nav-link{
    transition: 0.7s ease-in-out;
    font-size: 1.2rem;
    color: aliceblue;
    transition: 0.4s ease-in;
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover{
    color: black;
}

.Hamburguer{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: rgb(22, 30, 36);
}

.nav-item{
    list-style: none;
}

.back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.info{
    width: 32rem;
    color: aliceblue;
}

.info h2{
    font-size: 4.8rem;
}

.info p{
    width: 100%;
    font-size: 1.25rem;
    text-align: justify;
}

.info .link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 3rem;
    margin-top: 35px;
    padding: 10px;
    background-color: #40e05d;
    color: aliceblue;
    border-radius: 2rem;
    text-decoration: none;
    transition: 0.5s ease;
}

.link:hover{
    scale: 1.2;
}

.link a{
    text-decoration: none;
    font-size: 1.8rem;
    color: aliceblue;
}

.link i{
    margin-right: 30px;
    font-size: 2.5rem;
}

.imgB {
    width: 35rem;
    height: 30rem;
}

.imgB img{
    width: 100%;
    height: 100%;
}

.sec1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.sec1 h2{
    width: 90%;
    margin-top: 20px;
    font-weight: 350;
    text-align: justify;
}

.sec2{
    display: flex;
    justify-content: center;
}

.sec2 strong{
    color: red;
    font-weight: 325;
}

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    margin-top: -70px;
}

.LinksRedes{
    width: 15rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
}

.redes a{
    color: black;
    transition: 0.2s ease;
}

.redes a:hover{
    scale: 1.1;
}

.redes i{
    font-size: 2rem;
    transition: 0.4s ease-in-out;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 70%;
    border-radius: 2rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 25px;
}

.txtcard{
    width: 30rem;
    padding: 1rem;
}

.txtcard br{
    display: none;
}

.txtcard h1{
    padding: 1rem;
}

.txtcard h2{
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: 350;
    text-align: justify;
}

.card img{
    width: 25rem;
    height: 20rem;
    border-radius: 2rem;
    z-index: 1;
}

.sec3{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.centTxt{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
}

.enfe{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.barra{
    border: 2px gray solid;
    background-color: gray;
    width: 12rem;
    height: 1px;
    border-radius: 3rem;
}

.bola{
    border: 2px gray solid;
    background-color: gray;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    margin: 10px;
}


.cardGr ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 55rem;
    border-radius: 2rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 25px;
}

.cardGr img{
    width: 15rem;
    padding: 20px;
}

.sec4{
    position: relative;
    overflow: hidden;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.bifur{
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
}

.map{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}


.map iframe{
    border-radius: 15px;
    margin-top: 20px;
}

.map a{
    padding: 12px 32px;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 2px ;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 40px;
    transition: 0.5s;
    background-color: aliceblue;
    text-decoration: none;
    transition: 0.3s ease;
    border: 2px solid transparent;
    
}

.map a:hover{
    scale: 1.1;
    border: 2px solid gray;
}


.contact h2{
    text-align: center;
    margin-bottom: 10px;
}

.contact form{
    width: 600px;
    text-align: center ;
}

.field .item{
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    margin: 12px 0
}

.field .item::placeholder{
    color: rgba(0, 0, 0, 0.35);

}

.field.error .item{
    border-color: red;
}

.field.error .error-txt{
    display: block;
}

.field .error-txt{
    font-size: 14,5px;
    color: red;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

.intup-box .input-field{
    width: 50%;
}
textarea{
    resize: none;
}

form button{
    padding: 12px 32px;
    border: 2px solid transparent;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 2px ;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.5s;
    background-color: aliceblue;
    transition: 0.3s ease;
}

form button:hover{
    scale: 1.1;
    border: 2px solid gray;
}

form textarea .error-txt{
    margin-top: -10px;
}


footer{
    margin-top: 5rem;
    background-color: gray;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer h2{
    font-size: 1.2rem;
    font-weight: 300;
    width: 20%;
    color: aliceblue;
}

.redesFoo{
    display: flex;
    flex-direction: column;
    
}

.redesFoo a{
    padding: 8px;
    text-decoration: none;
    color: aliceblue;
    transition: 0.5s ease;
}

.redesFoo a:hover{
    color: black;
}

.redesFoo i{
    margin-right: 8px;
}


footer li{
    color: aliceblue;
    list-style: none;
    padding: 8px;
}



@media(max-width:768px){
    .Hamburguer{
        display: block;
    }

    .Hamburguer.active .bar:nth-child(2){
        opacity: 0;

    }

    .Hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);

    }
    
    .Hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);

    }

    .navmenu{
        position: absolute;
        right: -100%;
        top: 110px;
        gap: 0;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(2px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        margin-right: 0;
        display: none;
        z-index: 3;

    }

    .navmenu.active{
        display: flex;
    }

    .nav-item{
        margin: 16px 0;
    }

    .navmenu.active{
        right: 0;
    }

    .info h2{
        font-size: 2rem;
    }

    .princi{
        height: 39rem;
    }

    .back{
        position: relative;
        height: 30rem;
        padding: 1rem;
    }

    .imgB{
        position: absolute;
        width: 19rem;
        height: 27rem;
        bottom: 0;
        right: 0;
        text-align: center;
        z-index: 1;
    }

    .link{
        width: 120px;
        padding: 5px;
    }

    .link a{
        font-size: 1rem;
        margin-top: 0;
    }

    .link i{
        margin-right: 10px;
        font-size: 1.4rem;
    }

    .info{
        position: absolute;
        width: 70%;
        top: 0;
        left: 15px;
        z-index: 2;
    }

    .info p{
        display: none;
    }

    .info h2{
        font-size: 1.8rem;
        padding: 0.3rem;
    }

    .sec1 h1{
        font-size: 1.4rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

    .txtcard{
        width: 100%;
    }

    .txtcard br{
        display: block;
    }

    .txtcard h1{
        text-align: justify;
        font-size: 1.5rem;
        padding: 0;
        margin-left: 25px;
        margin-top: 20px;
        margin-bottom: 10px;

    }

    .txtcard h2{
        padding: 0px 15px 0 15px;
        font-size: 1.1rem;
    }

    .card{
        flex-direction: column-reverse;
        height: 40rem;
    }

    .card img{
        width: 100%;
    }

    .sec2{
        margin-top: 5.3rem;
    }

    .ImgTxt img{
        background-size: cover;
        height: 15rem;
        margin-top: -40px;
    }

    .LinksRedes{
        width: 75%;
    }

    .barra{
        width: 8rem;
    }

    .cardGr ul{
        width: 100%;
    }

    .cardGr img{
        width: 6rem;
        padding: 5px;
    }

    .bifur{
        flex-direction: column;
    }

    .contact form{
        width: 100%;
    }

    .contact .item{
        width: 75%;
    }

    .map{
        align-items: center;
        justify-content: center;
    }

    .map iframe{
        width: 100%;
        height: 20rem;
    }

    .contact h2{
        margin-top: 45px;
    }

    .sec4 h2, .sec3 h2{
        font-size: 2.2rem;
    }

    footer{
        flex-direction: column;
        height: 30rem;
    }

    footer h2{
        width: 60%;
    }

    .redesFoo{
        display: grid;
        grid-template-columns: auto auto;
    }

    .redesFoo a{
        padding: 25px;
    }


}